.cartView {
  display: inline-block;
  width: 100%;
}

.emptyCart {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;

  h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    padding: 60px;
  }

  .emptyCartLink {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
    padding: 15px;
    border-radius: 6px;
    background-color: #537fe7;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      background-color: #80a2f1;
    }
  }
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 70px 20px 70px;
  gap: 20px;

  .cartContainerTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    padding: 20px;
  }

  .cartItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 20px;

    p {
      font-size: 17px;
      font-weight: 300;
    }

    span {
      font-weight: 400;
    }

    img {
      width: 100px;
      height: auto;
      object-fit: fill;
      padding: 7px;
    }

    .cartItemName {
      width: 160px;
      padding: 7px;

      h3 {
        font-weight: 400;
        text-align: left;
      }
    }

    .cartItemQuantity {
      padding: 7px;
    }

    .cartItemPrice {
      padding: 7px;
    }

    .cartItemTotal {
      padding: 7px;
    }

    button {
      font-weight: 700;
      border-radius: 6px;
      background-color: transparent;
      padding: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      img {
        width: 38px;
        height: auto;
      }
    }
  }
}

.linea {
  border-top: 1px solid black;
  height: 2px;
}

.cartAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 0 30px;
  text-transform: uppercase;

  button {
    text-transform: uppercase;
    padding: 7px;
    background-color: #537fe7;
    color: white;
    border-radius: 6px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #80a2f1;
      color: white;
    }
  }

  .cartActionRight {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;

    p {
      text-transform: uppercase;

      span {
        font-weight: 700;
      }
    }

    .cartActionCheckout {
      padding: 4px;
      font-weight: 300;
      border-radius: 6px;
      background: #537fe7;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: #2560e9;
      }
    }
  }
}
