.shopForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 40%;
  min-width: 250px;
  gap: 10px;
  padding: 30px 50px 40px 50px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 18px;
  }

  input {
    background-color: #e7e6e1;
    gap: 10px;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    padding: 8px;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 10px;
    background: #cfcfcf;
    box-shadow: 20px 20px 60px #b0b0b0, -20px -20px 60px #eeeeee;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background: #d6d6d6;
      box-shadow: 9px 9px 15px #bababa, -9px -9px 15px #f2f2f2;
    }

    &:active {
      box-shadow: 0 0 1.5px 1.5px black;
    }
  }
}
