.shopForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 40%;
  min-width: 250px;
  gap: 10px;
  padding: 30px 50px 40px 50px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 5px 5px 33px #cccccc, -5px -5px 33px #ffffff;

  h3 {
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 18px;
  }

  input {
    background-color: #e7e6e1;
    gap: 10px;
    outline: none;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    padding: 8px;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 10px;
    background: #537fe7;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background: #80a2f1;
    }
  }
}

.shopOrderId {
  .emptyCartLink {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background-color: #537fe7;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      background-color: #80a2f1;
    }
  }
}
