.buttonFilter {
  font-family: "Rubik", sans-serif;
  border-radius: 4px;
  border: none;
  padding: 0.3rem;
  color: black;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }
}
