.cardContainer {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 220px 10px 220px 10px; 
}