.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 350px;
  height: 480px;
  border-radius: 20px;

  .precio {
    font-weight: 400;
  }

  h3 {
    padding: 5px;
    font-weight: 400;
  }

  p {
    padding: 5px 0 5px 0;
    font-weight: 300;
  }

  img {
    height: auto;
    max-height: 250px;
    min-width: auto;
    width: max-content;
    border-radius: 8px;
    object-fit: cover;
  }

  .cardAction {
    display: flex;
    gap: 30px;

    p {
      font-weight: 700;
    }

    .option {
      display: flex;
      align-items: center;
      text-align: center;
      align-content: center;
      padding: 5px;
      border-radius: 6px;
      background-color: #537fe7;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1rem;
      transition: all 0.3s ease;

      &:hover {
        background: #80a2f1;
      }
    }
  }
}
